extends layout

block head
  link(rel='stylesheet', href='/stylesheets/app.css')
  link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")

block scripts
  script(src="/javascripts/app.js")
