@import "compass/css3"
@import "compass/typography/vertical_rhythm"

@import "variables"
@import "mixins"

@import "typography"
@import "forms"

@import "generator"
@import "occupations"
@import "stats"
@import "counters"
@import skills

fieldset
  margin: 0
  padding: 0
  border: none

#search-form
  position: relative

.hidden
  display: none
