form
  @extend %base-margin

fieldset
  @extend %base-margin
  padding: 0
  border: none

  > ul
    list-style: none
    padding: 0

    > li
      margin: rhythm(0.5) 0

      &:first-child
        margin-top: 0

      &:last-child
        margin-bottom: 0

legend
  @extend h4
  width: 100%
  margin: 0
  padding: 0
  color: $cyan6

  .fa
    margin-right: rhythm(0.5)

input
  @extend %base-font
  +appearance(none)
  margin: 0
  padding: 0
  outline: 0
  border: none

  &.longer
    width: 100%

select
  @extend input
