form
  @extend %base-margin

fieldset
  @extend %base-margin
  padding: 0
  border: none

  > ul, > ol
    list-style: none
    padding: 0

    > li
      margin: rhythm(0.5) 0

      &:first-child
        margin-top: 0

      &:last-child
        margin-bottom: 0

legend
  @extend h4
  width: 100%
  margin: 0
  padding: 0
  color: $cyan6

  .fa
    margin-right: rhythm(0.5)

input
  @extend %base-font
  +appearance(none)
  display: inline-block
  margin: 0
  padding: 0
  outline: 0
  border: none
  border-radius: 0

  &.longer
    width: 100%

input[type="text"]
  +trailing-border(1px, 0.5)
  padding-top: rhythm(0.5)
  border-color: $gray-light

select
  @extend %base-font
  @extend input
  +rhythm-borders(2px, 0.5)
  display: inline-block
  border-color: $gray-light
  border-radius: $global-radius
