.occupation-column
  @extend .generator-column
  width: 17.5%
  border-left: none

.occupation-column-body
  @extend .column-body
  padding: 0

.occupation-list
  list-style: none
  margin: 0
  padding: 0

.occupation
  +user-select(none)
  +transition(all 0.2s)
  cursor: default
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding: rhythm(0.5) rhythm(1)

  &:hover
    background: $gray-lighter

  &.current
    background: $cyan3
    color: $white
