.stat-list
  list-style: none
  padding: 0

.stat
  +trailing-border(1px, 0.5)
  position: relative
  margin: 0
  padding-top: rhythm(0.5)
  border-color: $gray-lighter

.stat-high
  color: $cyan7
  font-weight: bold

  &::before
    font-family: $icon-font
    content: "\f0a6"
    position: absolute
    left: rhythm(-1)

.stat-low

  &::before
    @extend .stat-high::before
    content: "\f0a7"

.stat-value
  float: right

.point-list
  list-style: none
  padding: 0

.point
  float: left
  width: 33.33%
  margin: 0
  border-left: 1px solid $cyan3
  color: $white
  text-align: center

  &:first-child
    border-left: none

.point-name
  display: block

.point-value
  +adjust-font-size-to(26px, 2)
  display: block
